
body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: lightgrey; 
    width: 40%; 
    height: 50px; 
    border-top: 2px solid black; 
    border-bottom: 2px solid black; 
}


.navbar ul {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    height: 100%;
}

.navbar ul li {
    text-align: center;
}

.navbar ul li a {
    color: black; 
    text-decoration: none;
    padding: 10px 20px; 
    transition: background-color 0.3s ease;
    border-right: 3px solid white; 
}


.navbar ul li a:hover {
    background-color: darkgrey;
}


.navbar ul li a.active {
    background-color: darkgrey;
    font-weight: bold;
}
